footer{
    color: #3A3845;
    background-color: #F7CCAC;
    bottom: 0px;
}
.form-control{
    background-color: #3A3845;
    color: #F7CCAC;
}

input.form-control{
    color: #F7CCAC;
    background-color: #3A3845;
}
.input-group>.form-control, .input-group>.form-select{
    background-color: #3A3845;
    color: #F7CCAC;
}

.btn-outline-secondary{
    background-color: #789395;
    border-color: #3A3845;
}
input.form-control::placeholder{
    color: #F7CCAC;
}
input.newsletterInput{
    background-color: #3A3845 !important;
    color: #F7CCAC;
}

.btn .btn-outline-success{
    border-radius: none !important;
}